body {
  font-family: "Times New Roman", Times, serif, sans-serif;
  margin: 20px;
  font-style: italic;
  color: black;
}

header {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 420px;
  position: relative;
  margin-left: 87px;
  margin-top: 30px;
}

#addTaskButton,
#cancelBtn,
#confirmBtn {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
}

#addTaskButton,
#cancelBtn,
#confirmBtn :hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

#addTaskButton,
#cancelBtn,
#confirmBtn :focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

#taskFormDialog {
  background-color: #fffbdb;
  padding: 20px;

  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: auto;
  z-index: 1000;
}
.task-buttons {
  /* Container for buttons */
  display: flex;
  gap: 5px;
  position: absolute;
  top: 160px;
  right: 5px;
}

.completeBtn {
  /* background-color: #4caf50; */
  border: none;
  font-size: 40px;
  cursor: pointer;
}

.deleteBtn {
  /* background-color: #f44336; */
  border: none;
  font-size: 40px;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  background-color: #e1f7d7;
}
li.completed {
  /* You can customize these styles to make completed tasks visually distinct */
  background-color: #e1f7d7; /* Light green color for completed tasks */
  border: 2px solid #4caf50; /* Green border for completed tasks */
  box-shadow: rgba(0, 128, 0, 0.4) 0 0 8px; /* Green shadow for completed tasks */
  color: #555; /* Text color for completed tasks */
}

label {
  font-size: 2rem;
}
input {
  width: 150px;
}
#taskDescription {
  margin-top: 20px;
  font-size: 13px;
  resize: none;
}
.buttonsForm {
  padding-top: 20px;
}

ul {
  display: flex;
  list-style: none;
  padding: 2;
  width: 250px;
  height: 250px;
}

li {
  margin: 30px;
  padding: 20px;
  font-size: 50px;
  /* Additional styles for task items */
  list-style: none;
  margin: auto;
  border-radius: 5px;
  position: relative;
  background-image: url("/Homework-1/card-postit-note-paper-envelope-label-sticker-paper-product-beige-png-clipart-removebg-preview\ \(1\).png");
  /* Schimbați "path/to/background-image.jpg" cu calea către imaginea dorită */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.3s ease-in-out;
}

strong,
p {
  display: flex;
  font-size: 1.2rem;
  position: relative;
  margin-left: 2rem;
  margin-top: 1rem;
}
